.miniLogo{
  width: 60px;
}

.Naverino{
  background-color: white
}

.Carousel{
  width: 1000px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 25px;
  
}

.shattybad{
  margin-left: -205px;
}

.HomeBackground{
  background-color: white
}

.cat{
    
}

.background{
  position: absolute;
  margin-left: -210px;
}
.form{
  width: 600px;
  margin-left: 400px;
}

.pages{
  margin-left: 450px;
}

.listboy{
  
  padding-bottom: 30px;
  
}

